* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: Exo;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
}

.p {
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
}

h2 {
    font-family: Exo;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px 0px;

    ul {
        display: flex;
        list-style: none;
        gap: 47px;

        :nth-child(4) {
            background-color: #F5F5F5;
            color: #FF782D;
        }

        li {
            font-family: Exo;
            font-weight: 600;
            font-size: 16px;
            padding: 27PX 20px;
            color: #000000;

            &:active {
                background-color: #F5F5F5;
                color: #FF782D;
            }
        }
    }

    .Login {
        display: flex;
        align-items: center;
        gap: 20px;


        .Register {
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;
            border: none;
            color: #000000;
            background-color: #ffffff00;
            cursor: pointer;
        }

        .bars {
            display: none;
            border: none;
            background-color: #FFFFFF;
        }
    }
}

.Homepage {
    height: 60px;
    background-color: #F5F5F5;

    div {
        display: flex;
        padding: 18px 70px;
        gap: 8px;

        p {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            color: #555555;
        }

        .p {
            color: #9d9d9d;
        }
    }
}
.h1{
    padding: 50px 70px 0px;
}
.quastion{
    padding: 70px 70px 0;
.all-quastion{
    display: flex;
    justify-content: space-between;
    .select{
        max-width: 594px;
        min-height: 64px;
        display: flex;
        justify-content: space-between;
        background-color: #F5F5F5;
        border-radius: 8px;
        margin-bottom: 30px;
        padding: 20px 30px;
        h2{
            max-width: 549px;
        }
        
    }
    p{
        max-width: 545px;
        font-family: Jost;
        font-weight: 400;
        font-size: 18px;
        color: #555555;
        padding: 0 20px 30px;
        margin-bottom: 30px;
    }
    .all{
        background-color: #F5F5F5;
        h2{
            color: #FF782D;
        }
    }
}
img{
    max-width: 556px;
}
}

.footer {
    height: 458px;
    background-color: #F5F5F5;
    padding: 70px;

    .element {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p,
        span {
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;
            color: #555555;
        }

        .span {
            color: #FF782D;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        .edupress {
            max-width: 413px;

            p {
                max-width: 341px;
                padding-top: 32px;
            }
        }

        .get-help {
            max-width: 192px;
        }

        .programs {
            max-width: 192px;
            height: 281px;
        }
    }

    .contact-us {
        max-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
            padding-bottom: 10px;
        }

        .icon {
            display: flex;
            gap: 12px;
        }
    }

    .copyright {
        text-align: center;
        padding-top: 50px;
    }
}
@media screen and (max-width : 992px) {
    nav {
        padding: 30px 20px;

        ul {
            li {
                display: none;
            }

        }

        .Login {

            .Register,
            .Search {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }
    .quastion{
        padding: 20px;
            .all-quastion{
        flex-direction: column;
        padding: 20px;
    }
    }

    .footer {
        height: 1151px;
        padding: 70px 20px;

        .info {
            flex-direction: column;
        }

        .copyright {
            padding: 38px 20px;
        }
    }
}