* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title: color #000000;
}

h1 {
    font-family: Exo;
    font-weight: 600;
    font-size: 32px;
    color: var(--title);
}

.p {
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
}

.button {
    border: 2px solid #9D9D9D;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 10px 24px;
    font-family: Jost;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

h2 {
    font-family: Exo;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px 0px;

    ul {
        display: flex;
        list-style: none;
        gap: 47px;

        :nth-child(4) {
            background-color: #F5F5F5;
            color: #FF782D;
        }

        li {
            font-family: Exo;
            font-weight: 600;
            font-size: 16px;
            padding: 27PX 20px;
            color: #000000;

            &:active {
                background-color: #F5F5F5;
                color: #FF782D;
            }
        }
    }

    .Login {
        display: flex;
        align-items: center;
        gap: 20px;


        .Register {
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;
            border: none;
            color: #000000;
            background-color: #ffffff00;
            cursor: pointer;
        }

        .bars {
            display: none;
            border: none;
            background-color: #FFFFFF;
        }
    }
}

.Homepage {
    height: 60px;
    background-color: #F5F5F5;

    div {
        display: flex;
        padding: 18px 70px;
        gap: 8px;

        p {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            color: #555555;
        }

        .p {
            color: #9d9d9d;
        }
    }
}

.direct {
    display: flex;
    padding: 56px 70px;
    justify-content: space-between;

    .index {
        max-width: 410px;
        padding: 24px 0 16px;

        h1 {
            padding-bottom: 24px;
        }

        p {
            /* padding-top: 24px; */
        }

        .icon {
            display: flex;
            align-items: center;
            gap: 24px;

            .squir {
                width: 56px;
                height: 56px;
                background-color: #F5F5F5;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 16px 0;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 16px;

                p {
                    font-family: Exo;
                    font-weight: 600;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }

    iframe {
        width: 783px;
        height: 390px;
        border-radius: 20px;
    }
}

.contact {
    padding: 70px;

    p {
        padding: 20px 0 30px;
    }

    .input {
        display: flex;
        gap: 20px;

        input {
            padding: 11px 500px 11px 16px;
            border: 1px solid #9D9D9D;
            border-radius: 8px;
        }
    }

    .comment {
        height: 110px;
        border: 1px solid #9D9D9D;
        border-radius: 8px;
        padding: 10px 1200px 73px 16px;
        margin: 20px 0;
    }

    .cheak {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    button {
        border: none;
        background-color: #FF782D;
        border-radius: 24px;
        padding: 10px 24px;
        font-family: Jost;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }
}

.footer {
    height: 458px;
    background-color: #F5F5F5;
    margin-top: 70px;
    padding: 70px;

    .element {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p,
        span {
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;
            color: #555555;
        }

        .span {
            color: #FF782D;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        .edupress {
            max-width: 413px;

            p {
                max-width: 341px;
                padding-top: 32px;
            }
        }

        .get-help {
            max-width: 192px;
        }

        .programs {
            max-width: 192px;
            height: 281px;
        }
    }

    .contact-us {
        max-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
            padding-bottom: 10px;
        }

        .icon {
            display: flex;
            gap: 12px;
        }
    }

    .copyright {
        text-align: center;
        padding-top: 50px;
    }
}

@media screen and (max-width : 992px) {
    nav {
        padding: 30px 20px;

        ul {
            li {
                display: none;
            }

        }

        .Login {

            .Register,
            .Search {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }

    .direct{
        flex-direction: column;
        padding: 40px 20px;
    }

    .contact{
        padding: 20px;
        .input{
            flex-direction: column;
            input{
                                        padding: 11px 200px 11px 16px;
            }
        }
        .comment{
                    padding: 10px 100px 73px 16px;
        }
    }
    .footer {
        height: 1151px;
        padding: 70px 20px;

        .info {
            flex-direction: column;
        }

        .copyright {
            padding: 38px 20px;
        }
    }
}